// Fonts
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import "node_modules/font-awesome/scss/font-awesome";

// Variables
@import "colors";
@import "variables";

// MaterializeCSS
@import "node_modules/materialize-css/sass/materialize";

// Refactors
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: color("shades", "white");
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

.parallax > img {
  filter: brightness(.3);
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.page-footer {
  margin: 0;

  .icon-twitter,
  .icon-github,
  .icon-stack-overflow {
    margin-right: 10px;
  }

  .icon-twitter {
    background-color: $twitter;
  }

  .icon-github {
    background-color: $github;
  }

  .icon-stack-overflow {
    background-color: $stack-overflow;
  }
}

.justify-align {
  text-align: justify;
}

.blog-post {
  margin-bottom: 10px;
  border-bottom: 1px dotted color("shades", "white");
}

#index-banner > .section {
  margin-top: 70px;
}
